@model FlightManagementRadar.Models.User_Details


@{
    ViewBag.Title = "LogIn";
}

<div>
    <h2 class="display-3">Log In</h2>
    @using (Html.BeginForm("LogIn", "Account"))
    {
        <div>
            @Html.LabelFor(m => m.username, new { @class = "form-label" })
            @Html.TextBoxFor(m => m.username, new { @class = "form-control" , autocomplete = "off" })
        </div>
        <div>
            @Html.LabelFor(m => m.password, new { @class = "form-label" })
            @Html.PasswordFor(m=>m.password, new { @class = "form-control", autocomplete = "off" })
        </div>
        <div style="color:red">
        @Html.ValidationMessage("userNameOrPass")
        </div>
        <div>
            @Html.Label("Remember Me", new { @class = "form-label" })
            @Html.CheckBox("Remember Me")
        </div>
        <button type="submit" class="btn btn-primary" style="margin-top:1rem; margin-bottom:1rem;">LogIn</button>
    }

    <p>New User? SignUp Now! 👇</p>
    <p><a href="/Account/SignUp" class="btn btn-primary">SignUp </a></p>
</div>