@{
    ViewBag.Title = "Book_pay";
    String[] arr = { "Male", "Female" };
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
@Html.Partial("_LoginPartial")
@using FlightManagementRadar.Models
<div style="width: 100%;">
    <div style="width: 50%; height: 100px; float: left;">
        <h2 class="display-6">Enter Your Personal Details</h2>

        <form method="post">
            <div class="input-group mb-3">
                <label class="input-group-text">Name</label>
                <input type="text" name="Name" required class="form-control" autocomplete="off" /><br />
            </div>

            <div class="input-group mb-3">
                <label class="input-group-text">Contact No.(10 digit)</label>
                <input type="tel" name="PhoneNum" pattern="[0-9]{10}" required class="form-control" autocomplete="off" /><br />
            </div>

            <div class="input-group mb-3">
                <label class="input-group-text">E-mail</label>
                <input type="email" name="Email" required class="form-control" autocomplete="off" /><br />
            </div>

            <div class="input-group mb-3">
                <label class="input-group-text">Gender</label>
                @Html.DropDownList("Gender", new SelectList(arr), "Select", new { required = "required" })
            </div>

            <div class="input-group mb-3">
                <label class="input-group-text">Age</label>
                <input type="number" name="Age" required class="form-control" autocomplete="off" /><br />
            </div>


            <input type="reset" value="Reset" class="btn btn-primary" />
            <input type="submit" value="Add" class="btn btn-primary" formaction="@Url.Action("Book_Add")" formmethod="post" />
        </form>
        <br/>
        <a href='@Url.Action("Continue", "Passenger_details")' class="btn btn-primary">Submit</a>
    </div>
    <div style="width: 50%; height: 100px; float: left;padding-left:10px">
        <h2 class="display-6">Members Added</h2>
        <div style="overflow:auto ; overflow:auto;  display:flex">
            @{
                foreach (CheckIn_Details x in @ViewBag.list)
                {
                    <div class="card display-8" style="width: 18rem; margin-left:15px ">
                        <div class="card-header" style="text-align:center">
                            <p><b>@x.Name</b></p>
                        </div>

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Age: @x.Age</li>
                            <li class="list-group-item">Gender: @x.Gender</li>
                        </ul>
                        <a href='@Url.Action("Book_Del", "Passenger_details", new { Boarding_ID = @x.Boarding_ID})' class="btn btn-primary" style="background-color:red; border:none">Delete</a>
                    </div>

                }
            }
        </div>
        @*<h1>rohit</h1>*@
    </div>
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
